{% extends 'student/base.html' %}

{% load static %}

{% block content %}

<table style="color: rgb(255, 255, 255)" class="table">
    <thead  class="thead-success">
      <tr>
        <th  class="bg-warning" scope="col">ID</th>
        <th  class="bg-success" scope="col">Ismi</th>
        <th  class="bg-success" scope="col">Familiyasi</th>
        <th class="bg-success" scope="col">Yoshi</th>
        <th class="bg-success" scope="col">Telefon Raqami</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="color: black;" scope="row">1</th>
        <td style="color: black;">Abbos</td>
        <td style="color: black;">Nazarov</td>
        <td style="color: black;">22</td>
        <td style="color: black;">900993354</td>
      </tr>
    </tbody>
  </table>
  
    </tbody>
  </table>

{% endblock %}