{% extends 'student/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a class="fa fa-home" aria-hidden="true" href="{% url 'dashboard' %}"> Dashboard </a></li>
            <li class="breadcrumb-item"><a  href="{% url 'blog_create' %}"> Blog Create</a></li>
          </ol>
        </nav>
      </div>
    </div>
    <br>
<body>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mr-2">OK</button>
    </form>
</body>
{% endblock %}